<!DOCTYPE html>
<!-- Template by quackit.com -->
{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;  charset=utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Регистрация проектов</title>
</head>

<body>
<main>

    <div class="innertube">
        {% if messages %}
        <ul class="flash">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}




        {% if projects %}
        <table class="projects">
            <tr>
                <th><a href="/sort_by_id/">№</a></th>

                <th>Добавлен</th>
                <!--<th>Окончание</th>-->

                <th><a href="/sort_by_partner/">Контрагент</a></th>
                <th>Конечный заказчик</th>
                <th>E-mail</th>
                <th>Контакты</th>
                <th width="220">
                    <p>Оборудование</p>
                    <div class="left"><p>модель</p></div>
                    <div class="right"><p>кол-во</p></div>
                    <div class="clear"></div>
                </th>
                <th>Файл</th>
                <!--<th>Срок реализации</th>-->
                <th>Примечание</th>
            </tr>
            {% for project in projects %}
            <tr class="
                    {% if project.status == 3 %}yellow
                    {% elif project.status == 2 %}green
                    {% elif project.status == 1 %}gray
                    {% elif project.status == 4 %}red
                    {% endif %} hover">
                <td style="text-align:center">
                    <a href="{% url 'app:edit' project.id %}">{{project.id}}</a></td>
                <td style="text-align:center"><p>{{ project.add_date|date:"d.m.Y" }}</p>
                    <p>{{ project.end_date|date:"d.m.Y" }}</p></td>
                <!--<td style="text-align:center">{{ project.end_date|date:"d.m.Y" }}</td>-->

                <td>{{project.partner}}</td>
                <td>{{project.end_customer}}</td>
                <td><a href="mailto:{{ project.email }}">{{project.email}}</a></td>
                <td>
                    <p>{{ project.contacts }}</p>
                </td>
                <td>
                    {% for device in project.listdevices_set.all %}


                    <div class="border_bottom">
                        <p class="left">{{device.device_name}}</p>
                        <p class="right">{{device.sum}}</p>
                        <div class="clear"></div>
                    </div>


                    {% endfor %}


                </td>
                <td><a href="{% get_media_prefix %}{{ project.file }}" target="_blank">Скачать</a></td>
                <!--<td>{{ project.realization }}</td>-->
                <td>
                    <p style="margin-bottom:15px">{{ project.note }}</p>

                    <p>Срок реализации:</p>
                    <p>{{ project.realization }}</p>
                </td>
            </tr>


            {% endfor %}
        </table>

        {% else %}
        <p class="flash">Нет проектов :(</p>
        {% endif %}


    </div>
</main>
<nav id="nav">
    <div class="innertube">
        <p><a href="{% url 'app:add' %}">Добавить проект</a></p>
        <p><a href="{% url 'app:add_device' %}">Добавить оборудование</a></p>

        <table class="sort">
            <tr class="yellow">
                <td><a href="/3">Актуальные проекты</a></td>
                <td>{{stat.actual}}</td>
            </tr>
            <tr class="green">
                <td><a href="/2">Реализованные проекты</a></td>
                <td>{{stat.implemented}}</td>
            </tr>
            <tr class="red">
                <td><a href="/4">Срок регистрации истек</a></td>
                <td>{{stat.outdated}}</td>
            <tr class="gray">
                <td><a href="/1">Неактуальные</a></td>
                <td>{{stat.notactual}}</td>
            </tr>
            <tr>
                <td><a href="/">Все</a></td>
                <td>{{stat.all}}</td>
            </tr>
        </table>
        <div class="space"></div>
        <form action="/search/" method="get" class="search_form">
            <p>Оборудование:<input type="text" name="dev" value="{{ dev }}"></p>
            <p>от <input type="number" name="gt" value="{{ gt }}">
                до <input type="number" name="lt" value="{{ lt }}"></p>
            <p>Контрагент:<input type="text" name="partner" value="{{ partner }}"></p>
            <p>Конечник:<input type="text" name="consumer" value="{{ consumer }}"></p>
            <p class="right"><input type="submit" value="Искать"></p>
            <div class="clear"></div>
        </form>
        <div class="space"></div>
        <p><a href="{% url 'app:report' %}">Отчет</a></p>
    </div>
</nav>

</body>
</html>