/*IE6 fix*/
* html body{
    padding: 0 230px 0 0; /* Set the second value to the width of the navigation frame */
}

* { outline: none !important; }
* html main{
    height: 100%;
    width: 100%;
}

@media print {
      #printBtn, a { display:none; }
      body { background: #FFF;}
      .wrapper { background: #FFF;}
    }

a, h1, h2 {color: #0054b9;}
a:hover {color: red; }

.add_project .devices tr:last-child td { background: #fff; }
.add_project {  overflow: hidden; margin-top:25px;   }
.add_project textarea { height: 100px; }

body{
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
    font-size: 14px;
    font-family: Arial,sans-serif;
    color: #565656;
    line-height: 1.5em;
    background: #edf1f5;
    text-shadow: rgba(0, 0, 0, 0.15) 0 0 1px;
}

.border_bottom {
    border-bottom:1px dashed #999;
    margin-bottom:3px;
}

.clear { clear:both; }

.devices { margin-bottom: 10px;}
.devices tr:nth-of-type(odd)  {background: #fff;}
.devices tr:nth-of-type(even) {background: #f2f2f2;}
.devices td { padding: 4px 7px;}
.devices td input, .devices td select{ padding: 4px 7px; border: 1px solid #e4e7ea;}
.devices td input[type="number"] { padding-right: 0;}

.error { color: red; font-size:10px; }

.flash { background: #cee5F5; padding: 0.5em 30px; border: 1px solid #aacbe2; margin-bottom:10px}

.form-group td {
    padding: 0;
    padding-bottom: 15px;
    border: 0;
}

.form-group th {
    background: #fff;
    text-align: right;
    vertical-align: top;
}

.form-group label {
  color: #395870;
  display: block;
  font-weight: bold;

}
.form-group input, .form-group textarea{
    background-color: #ffffff;
    border: 1px solid #e4e7ea;
    border-radius: 0px;
    box-shadow: none;
    color: #565656;
    max-width: 100%;
    width: 100%;
    padding: 4px 7px;
    transition: all 300ms linear 0s;
    font-family: Arial,sans-serif;
    line-height: 1.42857143;
    font-size:14px;
}

.green { background-color: rgba(0, 194, 146, 0.8); }
.gray { background:#CCC; }

input[type="submit"] {
   padding: 6px 10px;
   cursor:pointer;
   background: #2980B9;
   border: 1px solid #2980B9;
   color: #fff;
   font-size: 14px;
   font-weight: 600;
   line-height: 1.42857143;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-appearance: textfield;

}

input[type="submit"]:hover {
    background: #2980B9;
    opacity: 0.8;
    border: 1px solid #2980B9;
}

input[type="number"] {
   width:40px;
}

input[type="radio"] {
    margin-right: 7px;
    margin-top:7px;

}

.innertube{  margin: 10px; /* Provides padding for the content */ }

.left { float:left; }

.legend {
    border: 1px solid #e4e7ea;
    padding: 5px 15px 15px;
    background: #FFF;
    text-align: left;
    margin-right:20px;
    margin-top:5px;
}

main{
    position: fixed;
    top: 0;
    left: 0;
    right: 245px; /* Set this to the width of the navigation frame */
    bottom: 0;
    overflow: auto;
    background: #edf1f5;
}

#nav{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 245px; /* Width of navigation frame */
    height: 100%;
    overflow: hidden; /* Disables scrollbars on the navigation frame. To enable scrollbars, change "hidden" to "scroll" */
    background: #fff;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);

}
/*
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    color: darkgreen;
    text-decoration: none;
} */

p { margin:0; }

.projects {  border: 2px solid #4c5667; border-top:0; }
.projects td td, .projects td table, .projects th td  { border: none; }
.projects td td { border-bottom: 1px solid #ddd; }
.projects td tr:last-of-type td { border:none; }

#report {border: 2px solid #4c5667;}
#realization { width: 100px; }
.right { float:right; text-align: right; }

.sort { width:100%; margin: 20px 0; border: 1px solid #e4e7ea; }
.sort td { padding: 5px 10px; }
.sort td a { width:100%; display: block; }

.space {margin: 10px 0}

table {
    width:100%;
    text-align:left;
    border-spacing: 0;
    *border-collapse: collapse;
}

td {
    vertical-align: top;
    padding:1px 5px;
    border-bottom: 1px solid #e4e7ea;
    border-right: 1px solid #e4e7ea;

}

th {
    text-align: center;
    background-color: #4c5667;
    color: #ffffff;
    border-right: 1px solid #fff;
    padding: 5px 2px;
}
th a {
    color: #ffffff;
}
th a:hover {
    color: #FFFF99;
}
th:last-child, td:last-child {  border-right: none;}
tr:last-child td { border-bottom: none; }
tr:first-child td { border-bottom: none; }
tr.hover:hover td { background: #F5F5E7; cursor:pointer; }
tr.red td { background-color: rgba(251, 58, 58, 0.8); color: #333; }

.projects th:last-child, .projects td:last-child {width:180px;}

ul { margin:0 }

.wrapper {
    padding:10px;
	background: #FFF;
	margin: 0 auto;
	margin-bottom:10px;
	text-align:left;
	max-width:860px;
	margin-top:10px;
	box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}

.yellow { background: #FFFF99; }



.search .add-project input[type="submit"] {
    width: 70px;
}

.search_form {
    border: 1px solid #e4e7ea;
    padding: 10px;
}
.search_form input {
    margin-bottom: 15px;
}

.search_form input[type=text]{
    width: 190px;
    padding: 2px;
    background-color: #ffffff;
    border: 1px solid #e4e7ea;
    border-radius: 0px;
    box-shadow: none;
    color: #565656;
    padding: 4px 7px;
    transition: all 300ms linear 0s;
    font-family: Arial,sans-serif;
    line-height: 1.42857143;
    font-size:14px;
}

.search_form input[type=number]{
    width: 40px;
    padding: 4px 0 4px 2px;
    margin-right: 20px;
    background-color: #ffffff;
    border: 1px solid #e4e7ea;
    border-radius: 0px;
    box-shadow: none;
    color: #565656;
}

.search_form input[type=submit]{
    margin-bottom: 0;
}

.add_project input:focus, .add_project textarea:focus, .search_form input:focus, .devices select:focus {
  box-shadow: none;
  border-color: #2b2b2b;
}
#add_device {
    margin-top: 30px;
}
#add_device .left {
    width: 300px;
    text-align: right;
}
#add_device .right {
    width: 300px;
    text-align: left;
    border-left: 1px solid #e4e7ea;
    padding: 20px;
}